.galaxy-background {
  background-image: radial-gradient(rgba(78, 78, 78, 0.5) 1%, transparent 20%);
  background-size: 10px 10px;
}

.grid-background {
  background-color: #fff;
  background-image: url("./assets/grid.svg");
}
