.galaxy-background {
  background-image: radial-gradient(rgba(78, 78, 78, 0.5) 1%, transparent 20%);
  background-size: 10px 10px;
}

.grid-background {
  background-color: #fff;
  background-image: url("./assets/grid.svg");
}

#quick-actions {
  /* box-shadow: 0 0 50px 15px #48abe0; */
  /* light box shadow like the search in Arc Browser */
  box-shadow: 0 0 9999px 10px #48abe011;
}
