.galaxy-background {
  background-image: radial-gradient(rgb(236 72 153 / 50%) 1%, transparent 20%);
  background-size: 20px 20px;
}

.grid-background {
  background-color: #fff;
  background-image: url("./assets/grid.svg");
}
